<!-- templates/task_allocation/results.html -->
{% extends '../base.html' %}
{% block title %} Staff role predictor {% endblock %}
{% block content %}
<h1>AI Staff Role Allocator</h1>
<h3 class="title fa fa-italic">This shortlist group of staffs that best fit for a position and explains why each of them
    merits
    to be selected</h3>
<p><strong>Position:</strong> {{ position }}</p>
<p><strong>Predicted Staff:</strong> {{ predicted_candidate.text }}</p>
<p><strong>Explanation:</strong></p>
<textarea class="w-10 d-block py-10" cols="150" rows="15"> {{ predicted_role_explanation.text }} </textarea>
<br>
<a href="{% url 'departement_list' %}" class="btn btn-secondary">
    Back
</a>
<!-- <a class="btn btn-success" href="">Approve</a> -->

{% endblock %}