{% extends '../base.html' %} 
{% block title %}
Assess Candidate - {{candidate.first_name }} {{ candidate.last_name }}
{% endblock %} 
{% block content %}
<div class="card shadow-sm">
  <div class="card-header bg-info text-white">Assess Candidate</div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit Assessment</button>
      <a href="{% url 'candidate_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
